h1 {
    color: blue;
    font-size: 30px;
}

div.clear {
    clear: both
}

div.style-header {
    border: 1px solid #cc66ff;
    border-radius: 15px 15px 0 0; /* kiri atas, kanan atas, kanan bawah, kiri bawah*/
}

div.style-form {
    border: 1px solid #cc66ff;
    border-radius: 0 0 15px 15px;
}

div.style-form > form {
    margin: 10px;
}

div.left-menu {
    background-color: #cc66ff;
    float: left;
    width: 200px;
    height: 500px;
}

div.style-profile {
    background-color: #77eb34;
}

div.style-profile div {
    text-align: right;
    padding: 10px 15px 10px 0; /*atas kanan bawah kiri*/
}

p.y1 {
    display: inline;
}

div.style-content {
    float: left;
    padding: 20px;
}

div.style-content table,
div.style-content table th,
div.style-content table td {
    border: 1px solid #000;
}

div.style-content table th {
    background-color: aqua;
}